/* Tablet Landscape */

@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
    }
    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}
/* Tabled Portrait */

@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }
    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}

.minwidth {
    min-width: 100px;
    width: auto !important;
    width: 100px;
}

html {
    padding: 10px;
    font-family: Verdana, sans-serif;
    overflow: auto;
}

.login-buttons-dropdown-align-right {
    float: right;
}

.container-body {
    margin-top: -60px;
    margin-left: 60px;
    position: fixed;
    overflow-y: scroll;
    height: 80%;
    width: 100%;
}

.container-messages {
    position: fixed;
    overflow-y: scroll;
    height: 420px;
    width: 80%;
    border: rgb(228, 230, 232);
    border-style: solid;
    border-radius: 5px;
    margin-top: 20px;
}

.body-messages {
    margin-top: 10px;
}

.body-p {
    margin-top: 10px;
}

.login-link-and-dropdown-list {
    margin-right: 150px;
    margin-top: 20px;
}

.align-right {
    float: right !important;
    margin-right: -15px;
}

.box {
    padding: 10px;
    width: 30%;
    height: 50px;
}

.message-box-layer {
    word-wrap: break-word;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    color: #FFFFFF;
    background: #2DA1F4;
    min-height: 70px;
    height: auto;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.message-box-layer:before,
.message-box-layer:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.messageInfo {
    font-size: 10px;
}

.message-box-layer:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.trash-icon {
    max-height: 20px;
    position: absolute;
    max-width: 20px;
    margin-top: 2px;
    margin-left: -18px;
}

.trash-icon-layer {
    max-width: 60px;
    height: auto;
    position: static;
    float: right;
}

.button-trash {
    /*background-image: image("") display: block;*/
    
    width: 40px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.message-text {
    max-width: 90%;
    margin-left: 30px;
}

.input-message {
    min-height: 100px;
    width: 500px;
}

label {
    cursor: text;
    white-space: nowrap;
    position: relative;
}

label .left {
    float: left;
    margin-right: 10px;
}

label .right {
    float: right;
    margin-left: 10px;
}

input {
    position: relative;
}

.common-box {}
/*---------------------------------------------------------------------------------------*/