<template name="home">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <br>
            <h1 class="header center light-blue-text text-lighten-1">A minimalistic chat app</h1>
            <div class="row center">
                <h5 class="header col s12 light">If you don't like it, that's ok!</h5>
            </div>
            <div class="row center">
                <a href="\index" id="download-button" class="btn-large waves-effect waves-light light-blue lighten-1">Start talking</a>
            </div>
            <br>
            <br>

        </div>
    </div>
</template>