<template name="index">
    <div class="container-body">
        <div class="body-messages">
            {{> appBody}} {{> messages}}
        </div>
    </div>
</template>

<template name="appBody">
    {{> welcome }} {{>input}}
</template>

<template name="welcome">
    {{> user}}
</template>

<template name="deleteButton">
    <div class="trash-icon-layer">
        <a name="trash" href="#" class="button-trash align-right">
            <img class="trash-icon" src="/resources/images/trash-white.png" />
        </a>
    </div>
</template>

<template name="messages">
    {{#each messages}}
    <div class="message-box-layer box" id="sortable">
        <div class="message-text-layer">
            sent at: {{formatDate time}} - <strong>{{name}}:</strong> {{message}}
        </div> {{> deleteButton}}
    </div>
    {{/each}}
</template>

<template name="input">
    <br>Message:
    <input class="input-message" type="text" id="message">
</template>

<template name="user">
    Welcome,
    <input type="text" id="user"> (use a nickname,an alias, whatever you want..)
</template>