<template name="menu">
    <div class="navbar-fixed">
        <nav class="light-blue lighten-1" role="navigation">
            <!--
            <ul class="left hide-on-med-and-down">
                <li class="left">
                    <a href="#"><i class="mdi-navigation-menu small"></i></a>
                </li>
            </ul>
-->
            <div class="nav-wrapper container"><a id="logo-container" href="\" class="brand-logo">Mini Messenger</a>
                <ul class="right hide-on-med-and-down">
                    <!--
                <li>
                    <div class="container">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label for="search"><i class="mdi-action-search"></i>
                                </label>
                                <i class="mdi-navigation-close"></i>
                            </div>
                        </form>
                    </div>
                </li>
                -->
                    <li><a href="\index">Chat</a>
                    </li>
                    <li><a href="\about">About</a>
                    </li>
                    <li><a href="\contact">Contact</a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="side-nav blue-text">
                    <!--<li class="right"><i class="mdi-navigation-menu"></i>
                    </li>-->
                    <li><a href="\index">Chat</a>
                    </li>
                    <li><a href="\about">About</a>
                    </li>
                    <li><a href="\contact">Contact</a>
                    </li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div>

</template>